In [50]:
import warnings
warnings.filterwarnings('ignore')

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv('winequality_clean.csv')

In [3]:
data.head()

,ID,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,W0001,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,2
1,W0002,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,NaN,9.5,2
2,W0003,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,NaN,10.1,2
3,W0004,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,2
4,W0005,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,2

In [4]:
data.isnull().sum()

ID                        0
fixed acidity             0
volatile acidity          0
citric acid             733
residual sugar            0
chlorides                 0
free sulfur dioxide       0
total sulfur dioxide      0
density                   0
pH                      844
sulphates               723
alcohol                   0
quality                   0
dtype: int64

In [5]:
data.quality.unique()

array([2, 1], dtype=int64)

In [12]:
X = pd.DataFrame()
X = data.drop(['ID','quality'],axis = 1)
X.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,NaN,9.5
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,NaN,10.1
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9

In [15]:
y = data.quality
y.head()

0    2
1    2
2    2
3    2
4    2
Name: quality, dtype: int64

In [16]:
data.shape

(4898, 13)

In [17]:
X.fillna(X.mean(),inplace=True)

In [18]:
X.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.450000,8.8
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.490158,9.5
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.490158,10.1
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.400000,9.9
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.400000,9.9

In [19]:
X.isnull().sum()

fixed acidity           0
volatile acidity        0
citric acid             0
residual sugar          0
chlorides               0
free sulfur dioxide     0
total sulfur dioxide    0
density                 0
pH                      0
sulphates               0
alcohol                 0
dtype: int64

In [45]:
from sklearn.linear_model  import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size = 0.20,random_state=1)
model = LogisticRegression()
model.fit(X_train,y_train)
print(model.predict_proba(X_test)[:10])
print(model.predict(X_test)[:10])
print('Logistic accuracy is %2.2f' % accuracy_score(y_test,model.predict(X_test)))

[[0.68091737 0.31908263]
 [0.51970684 0.48029316]
 [0.16769006 0.83230994]
 [0.55268372 0.44731628]
 [0.07099161 0.92900839]
 [0.5136218  0.4863782 ]
 [0.64873323 0.35126677]
 [0.71498099 0.28501901]
 [0.37585967 0.62414033]
 [0.40597461 0.59402539]]
[1 1 2 1 2 1 1 1 2 2]
Logistic accuracy is 0.74

C:\Users\Shubham\Anaconda3.1\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

In [51]:
from sklearn.model_selection import cross_val_score
CVscore = cross_val_score(LogisticRegression().fit(X,y),
                         X_train , y_train , cv = 10)
print(CVscore)
print(CVscore.mean())

[0.73536896 0.75826972 0.7755102  0.73214286 0.76785714 0.74234694
 0.73913043 0.74168798 0.77493606 0.73913043]
0.7506380730187858

In [53]:
#to remove spaces in columns
df = data
df.columns = [c.replace(' ', '_' )for c in data.columns]
display (df.head())
display(data.head())

,ID,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality
0,W0001,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,2
1,W0002,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,NaN,9.5,2
2,W0003,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,NaN,10.1,2
3,W0004,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,2
4,W0005,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,2

,ID,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality
0,W0001,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,2
1,W0002,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,NaN,9.5,2
2,W0003,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,NaN,10.1,2
3,W0004,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,2
4,W0005,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,2